* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* !! change % !! */
.container-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(50, 132, 209);
  /* flex-direction: row; */
}

.flex {
  display: flex;
  justify-content: center;
  /* justify-content: space-between */
}

/* header */

.logo {
  /* text-align: left; */
  /* background-color: yellow; */
  width: 25%;
  /* border: 1px dotted black; */
  color: whitesmoke;
  /* background-image: url("/img/logo.svg"); */
  /* background-size: 20%; */
}

.navigation {
  display: flex;
  text-align: center;
  width: 50%;
  list-style: none;
  padding: 5px;
  /* background-color: yellow; */
  /* border: 1px dotted black; */
}

.link {
  text-decoration: none;
  padding: 10px;
  color: whitesmoke;
}

.login {
  text-align: right;
  /* background-color: yellow; */
  width: 25%;
  /* border: 1px dotted black; */
}

.login-button {
  border-radius: 50px;
  font-size: 15px;
  padding: 10px;
  color: black;
  border: none;
}

h1 {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
  font-size: 30px;
  /* line-height: 1.5; */
}

.header-text {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}

.header-button {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  /* padding: 10px; */
}

/* header-buttons */

.button-header1 {
  border-radius: 100px;
  font-size: 15px;
  padding: 10px;
  color: black;
  border: none;
  margin-right: 10px;
}

.button-header2 {
  border-radius: 100px;
  font-size: 15px;
  padding: 10px;
  color: white;
  background-color: black;
  border: none;
  margin-left: 10px;
}

/* end-header */

/* main-sections */

.section-1 {
  background-color: blue;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/jumbo.png");
  background-size: 100%;
  padding: 20px;
}

.s1-box1 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  /* border-radius: 5px; */
  width: 60%;
  height: 300px;
  padding: 40px;
}

/* end-section-1 */

.section-2 {
  background-color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-box1 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item1.svg");
  background-size: 100%;
}

.s2-box2 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
  padding: 20px;
}

.s2-header-text {
  font-size: 30px;
}
.s2-text {
  margin-top: 10px;
}

/* end-section2 */

.section-3 {
  /* background-color: grey; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3-box1 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
}

.s3-box2 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item2.svg");
  background-size: 100%;
}

.s3-header-text {
  font-size: 30px;
}

.s3-text {
  margin-top: 20px;
}
/* end-section3 */

.section-4 {
  background-color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s4-box1 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item3.svg");
  background-size: 100%;
}

.s4-box2 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
}

.s4-header-text {
  font-size: 30px;
}
.s4-text {
  margin-top: 20px;
}

/* end-section4 */

.section-5 {
  /* background-color: grey; */
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s5-box1 {
  /* background-color: green; */
  /* border: 1px dotted black; */
  width: 80%;
  height: 500px;
}

.s5-header-text {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}
.s5-text {
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.s5-bottom-text {
  text-align: center;
  font-size: 30px;
  padding: 20px;
  background-image: url("/img/stars.svg");
  background-size: cover;
}

.s5-button-container {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.s5-button {
  border-radius: 100px;
  font-size: 15px;
  padding: 10px;
  color: white;
  border: none;
  background-color: blue;
}

/* footer-sections */

.footer-section {
  background-color: black;
  /* margin: 0 auto; */
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.f-box1 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 280px;
}
.f-box1-header {
  font-size: 30px;
  color: blue;
  padding: 10px;
  margin-left: 10px;
}

.f-flag {
  margin-top: 10px;
  margin-left: 20px;
  color: whitesmoke;
}

.f-flag-img {
  width: 20px;
  height: auto;
}

.f-logos {
  padding: 20px;
  width: 100%;
  font-size: 20px;
  color: whitesmoke;
}

.f-box2 {
  /* background-color: lightgreen; */
  /* border: 1px dotted black; */
  width: 15%;
  height: 280px;
}

.f-column2 {
  list-style: none;
  padding: 20px;
}

.f-box3 {
  /* background-color: lightgreen; */
  /* border: 1px dotted black; */
  width: 15%;
  height: 280px;
}

.f-column3 {
  list-style: none;
  padding: 20px;
}

.f-box4 {
  /* background-color: lightgreen; */
  /* border: 1px dotted black; */
  width: 15%;
  height: 280px;
}

.f-column4 {
  list-style: none;
  padding: 20px;
}

.f-box5 {
  /* background-color: lightgreen; */
  /* border: 1px dotted black; */
  width: 15%;
  height: 280px;
}

.f-column5 {
  list-style: none;
  padding: 20px;
}

/* internal-components */

.f-link-head {
  color: blue;
  font-weight: bold;
}

.f-link {
  margin-top: 10px;
  color: whitesmoke;
}

/* end-footer-section1 */

.footer-section2 {
  background-color: black;
  width: 100%;
  border: 1px solid white;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-box {
  /* background-color: lightgreen; */
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin-top: 50px; */
  /* margin-left: 40px; */
}

.f-logo {
  /* justify-content: flex-start; */
  text-align: center;
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 100px;
  height: 30px;
  padding: 5px;
}

.f-button {
  text-align: center;
  color: whitesmoke;
  background-color: blue;
  border: 1px dotted black;
  border-radius: 50px;
  width: 100px;
  height: 30px;
  padding: 5px;
}
