* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* !! change % !! */
.container-header {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(50, 132, 209);
  /* flex-direction: row; */
}

.flex {
  display: flex;
  justify-content: center;
  /* justify-content: space-between */
}

/* header */

.logo {
  /* text-align: left; */
  /* background-color: yellow; */
  width: 20%;
  /* border: 1px dotted black; */
  color: whitesmoke;
}

.navigation {
  display: flex;
  text-align: center;
  width: 40%;
  list-style: none;
  /* background-color: yellow; */
  /* border: 1px dotted black; */
}

.link {
  text-decoration: none;
  padding: 10px;
  color: whitesmoke;
}

.login {
  text-align: right;
  /* background-color: yellow; */
  width: 20%;
  /* border: 1px dotted black; */
}

h1 {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
}

.header-text {
  color: whitesmoke;
  text-align: center;
  padding: 20px;
}

.header-button {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  /* padding: 10px; */
}

/* header-buttons */

.button-header1 {
}

.button-header2 {
}

/* end-header */

/* main-sections */

.section-1 {
  background-color: blue;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/jumbo.png");
  background-size: 100%;
  padding: 20px;
}

.s1-box1 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  /* border-radius: 5px; */
  width: 60%;
  height: 300px;
}

/* end-section-1 */

.section-2 {
  background-color: white;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-box1 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item1.svg");
  background-size: 100%;
}

.s2-box2 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
}

/* end-section2 */

.section-3 {
  /* background-color: grey; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s3-box1 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
}

.s3-box2 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item2.svg");
  background-size: 100%;
}

/* end-section3 */

.section-4 {
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s4-box1 {
  /* background-color: lightblue; */
  /* border: 1px dotted black; */
  width: 40%;
  height: 300px;
  background-image: url("/img/item3.svg");
  background-size: 100%;
}

.s4-box2 {
  /* background-color: pink; */
  /* border: 1px dotted black; */
  width: 25%;
  height: 300px;
}

/* end-section4 */

.section-5 {
  /* background-color: grey; */
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s5-box1 {
  /* background-color: green; */
  /* border: 1px dotted black; */
  width: 80%;
  height: 500px;
}

/* footer-sections */

.footer-section {
  background-color: black;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.f-box1 {
  background-color: pink;
  border: 1px dotted black;
  width: 30%;
  height: 280px;
}
.f-box2 {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 15%;
  height: 280px;
}
.f-box3 {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 15%;
  height: 280px;
}
.f-box4 {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 15%;
  height: 280px;
}
.f-box5 {
  background-color: lightgreen;
  border: 1px dotted black;
  width: 15%;
  height: 280px;
}

/* end-footer-section1 */

.footer-section2 {
  background-color: black;
  width: 100%;
  border: 1px solid white;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-box {
  background-color: lightgreen;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}

.f-logo {
  /* justify-content: flex-start; */
  text-align: center;
  background-color: pink;
  border: 1px dotted black;
  width: 50px;
  height: 30px;
  padding: 5px;
}

.f-button {
  text-align: center;
  background-color: pink;
  border: 1px dotted black;
  width: 60px;
  height: 30px;
  padding: 5px;
}
